
  <% if @jobs %>
<!-- Start Blog Section Area -->

<section class="blog-section section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h3 class="wow zoomIn" data-wow-delay=".2s">Dashboard</h3>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">All my Jobs</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".4s">

      <% @jobs.each do |item| %>

                    <!-- Start Single Blog Grid -->
                    <div class="single-blog-grid">
                        <div class="blog-img">
                            <a href="blog-single.html">
                                <img src="https://via.placeholder.com/500x310" alt="#">
                            </a>
                        </div>
                        <div class="blog-content">
                            <div class="meta-info">
                                <a class="date" href="javascript:void(0)"><i class="lni lni-timer"></i> <%= item.start_time %>- <%= item.end_time %>
                                </a>
                                <a class="author" href="javascript:void(0)"><i class="lni lni-user"></i> <%= item.reservation.client.user_name %>
                                </a>
                            </div>
                            <h4>
                                <a href="blog-single.html"><%= item.title %></a>
                            </h4>
                            <p><%= item.description %></p>
                            <div class="button">
                                <a href="blog-single.html" class="btn">Accept for : <%= item.cost %></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Blog Grid -->
                </div>

        </div>
    </section>
    <!-- End Blog Section Area -->
      <% end %>


  <% elsif @reservations %>
    <!-- Start Blog Section Area -->

<section class="blog-section section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h3 class="wow zoomIn" data-wow-delay=".2s">Dashboard</h3>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">All my Reservations</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".4s">

      <% @reservations.each do |item| %>

                    <!-- Start Single Blog Grid -->
                    <div class="single-blog-grid">
                        <div class="blog-img">
                            <a href="blog-single.html">
                                <img src="https://via.placeholder.com/500x310" alt="#">
                            </a>
                        </div>
                        <div class="blog-content">
                            <div class="meta-info">
                                <a class="date" href="javascript:void(0)"><i class="lni lni-timer"></i> <%= item.job.start_time %>- <%= item.job.end_time %>
                                </a>
                                <a class="author" href="javascript:void(0)"><i class="lni lni-user"></i> <%= item.job.hrayfi.user_name %>
                                </a>
                            </div>
                            <h4>
                                <a href="blog-single.html"><%= item.job.title %></a>
                            </h4>
                            <p>Status : <%= item.status %></p>
                            <div class="button">
                                <a href="blog-single.html" class="btn">Booked for : <%= item.job.cost %></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Blog Grid -->
                </div>

        </div>
    </section>
    <!-- End Blog Section Area -->


      <% end %>
  <% end %>
</div>
<h1>Pages#home</h1>
<% if user_signed_in? %>
 <div> Welcome <%= current_user.email %> </div>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= button_to "Sign in", new_user_session_path %>
  <%= button_to "Register", new_user_registration_path %>

<% end %>
